{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index | Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
        {% include "navbar.html" %}
        <div class="row">
            <div class="col-md 6">
                {% block content-1 %}
                {% for v in post %}
                <div class="bg-white" style="height:400px">
                    <h1>{{v.title}}</h1>
                    <p>{{v.body}}</p>
                </div>
                {% endfor %}
                {% endblock content-1 %}
            </div>
        </div>
</body>
</div>

</html>